{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <h3>列表展示</h3>
    {% if is_add %}
        <a href="{{ add_url }}" class="btn btn-success">添加</a>
    {% endif %}
    <table class="table table-bordered">
        <thead>
        <tr>
          {% for head_name in head_list %}
                <th>{{ head_name }}</th>
          {% endfor %}
        </tr>
      </thead>
        {% for model in model_set %}
            <tr>
                {% for filed in model %}
                    <td>{{ filed }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<div style="margin-left: 35%">
    {{ html|safe }}
</div>
</div>


</body>

</html>